body {
	--pixel-size: 1;
	width: 100vw;
	height: 100vh;
	background-color: white;
	overflow: hidden;
	image-rendering: pixelated;
}
#stage {
	width: 100vw;
	height:100vh;
	background-color: white;
}
#ground {
	position:relative;
	width: 100%;
	height: calc(3px * var(--pixel-size));
	top:50vh;
	/* background:#535353; */
	background-image: url("../img/brown.png")
}
#dino {
	position:relative;
	width:calc(96px * var(--pixel-size));
	height:calc(96px * var(--pixel-size));
	top: calc(50vh + calc(16px * var(--pixel-size)));
	left: 20%;
	z-index: 2;
	background-repeat: no-repeat;
	background-size:contain;
}
.intro-spot {
	left: 50%;
}
.standing {
	background-image: url("../img/dinostanding.png");
}
.walk-0 {
	background-image: url("../img/dinostep0.png");
}
.walk-1 {
	background-image: url("../img/dinostep1.png");
}
.duck-0 {
	background-image: url("../img/dinoduck0.png");
	width: calc(118px * var(--pixel-size));
	height: calc(60px * var(--pixel-size));
}
.duck-1 {
	background-image: url("../img/dinoduck1.png");
	width: calc(118px * var(--pixel-size));
	height: calc(60px * var(--pixel-size));
}
.dead {
	background-image: url("../img/dinodead.png");
}
.cactus {
	position:absolute;
	width:calc(60px * var(--pixel-size));
	height:calc(96px * var(--pixel-size));
	top: calc(50vh + calc(16px * var(--pixel-size)));
	left:100vw;
	background-image: url("../img/cactuslarge.png");
	background-repeat: no-repeat;
	background-size:contain;
}
.hidden {
	opacity: 0;
	pointer-events: none;
}
#restart-button {
	position: absolute;
	width: calc(72px * var(--pixel-size));
	height: calc(72px * var(--pixel-size));
	top: 30%;
	background-image: url("../img/restartbutton.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left:calc(50vw - calc(36px * var(--pixel-size)));
	transform: scale(0.8);
	transition: all 200ms ease;
}


@media screen and (orientation:portrait) {
	#ground {
		top: 40vh;
	}
	#dino {
		left: 15%;
		top: calc(40vh + calc(16px * var(--pixel-size)));
	}
	.cactus {
		top: calc(40vh + calc(14px * var(--pixel-size)));
	}
}
